html {
    overflow-y: scroll;
}

body {
    background: #f2f2f2;
}

header {
    margin: 0 0 20px;
}

.container {
    background: white;
    padding: 10px 0 20px;
}

article {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#commentsList {
    margin-top: 40px;
}

#menu {
    text-align: right;
}

.floatLeft {
    float:left;
}
.floatRight {
    float: right;
}
