html {
    overflow-y: scroll;
}

body {
    background: #A6A5A6;
}

header {
    margin: 20px 0;
}

nav {
    margin: 20px 0 0;
}

.navbar-inner {
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
}

.container {
    background: white;
    padding: 0 0 20px;
}

article {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#commentsList {
    margin-top: 40px;
}

.floatLeft {
    float:left;
}
.floatRight {
    float: right;
}

.form-validation-error {
    color: red;
    display: block;
}
