<script type="text/template" id="blogpost-tmpl">

    <div style="padding-bottom: 10px;">
        <h2><%=data.title%></h2>

        <div style="font-size: smaller;">
            <%=data.author.firstname%> <%=data.author.surname%> - <%=data.created%>
        </div>
    </div>

    <div style="clear:both;"><%=data.content%></div>

</script>
