<script type="text/template" id="comment-tmpl">

    <div class="commtent">
        <p><%=data.content%></p>

        <p style="font-size: smaller;">
            -- <%=data.author.firstname%> <%=data.author.surname%>, <%=data.created%>
        </p>
    </div>

</script>