<script type="text/template" id="desktopcommentform-tmpl">

    <div id="addCommentFormContainer">
        <h4>Add comment</h4>

        <form id="addCommentForm">
            <p><textarea name="comment" id="comment" cols="30" rows="10" class="formInput formContent"></textarea></p>
            <p><button class="formBtn formContent" id="submitComment">Submit</button></p>
        </form>
    </div>

</script>
