<script type="text/template" id="desktop-commentform-tmpl">

    <div id="addCommentFormContainer">
        <h4>Add comment</h4>

        <form id="addCommentForm">
            <p>
                <textarea name="comment"
                          id="commentTextarea"
                          cols="30"
                          rows="10"
                          class="formInput formContent"></textarea>
            </p>
            <p><button class="formBtn formContent" id="submitCommentBtn">Submit</button></p>
        </form>
    </div>

</script>
