<script type="text/template" id="desktop-addpostform-tmpl">

    <div>
        <h2>Add post</h2>
        <form id="addPostForm">
            <p><label for="inputTitle">Title</label></p>
            <p><input type="text" id="inputTitle" name="inputTitle" class="formInput formContent"></p>
            <p><label for="inputContent">Content</label></p>
            <p><textarea id="inputContent" name="inputContent" rows="10" class="formInput formContent"></textarea></p>
            <p><button class="formBtn formContent">Submit</button></p>
        </form>
    </div>

</script>
