<script type="text/template" id="desktop-registerform-tmpl">

    <div style="padding-bottom: 10px;">
        <form id="registerForm">
            <p><label for="inputUser">User Name</label></p>
            <p><input type="text" id="inputUser" name="inputUser" class="formInput formSidebar"></p>
            <p><label for="inputPass">Password</label></p>
            <p><input type="password" id="inputPass" name="inputPass" class="formInput formSidebar"></p>
            <p><label for="inputFirstName">First Name</label></p>
            <p><input type="text" id="inputFirstName" name="inputFirstName" class="formInput formSidebar"></p>
            <p><label for="inputSurname">Surname</label></p>
            <p><input type="text" id="inputSurname" name="inputSurname" class="formInput formSidebar"></p>
            <p><label for="inputEmail">Email</label></p>
            <p><input type="text" id="inputEmail" name="inputEmail" class="formInput formSidebar"></p>
            <p><label for="inputPhone">Phone</label></p>
            <p><input type="text" id="inputPhone" name="inputPhone" class="formInput formSidebar"></p>
            <p><button class="formBtn formSidebar" id="registerSubmitBtn">Register</button></p>
        </form>
    </div>

</script>
