<script type="text/template" id="blogentry-tmpl">
<% blogEntry = blogEntry.blogEntry; %>
<div style="padding-bottom: 10px;">
    <h2><%=blogEntry.title%></h2>

    <div style="font-size: smaller;">
	    <%=blogEntry.author.forename%> <%=blogEntry.author.surname%> - <%=blogEntry.created%>
    </div>
</div>

<div style="clear:both;"><%=blogEntry.content%></div>
</script>


