<script type="text/template" id="blog-tmpl">
<% _.each(blogEntries, function(blogEntry) { %>
	<tr>
		<td><%=blogEntry.id%></td>
		<td><%=blogEntry.title%></td>
		<td><%=blogEntry.content%></td>
	</tr>
<% }); %>
</script>
