<script type="text/template" id="blogentrylist-tmpl">
<% _.each(blogEntries, function(blogEntry) { %>
<div style="padding-bottom: 10px;">
    <h2><%=blogEntry.blogEntry.title%></h2>

    <div style="font-size: smaller;">
	    Friedrich Nietzsche - <%=blogEntry.blogEntry.created%>
    </div>
</div>

<div style="clear:both;"><%=blogEntry.blogEntry.content%></div>

<div style="padding-bottom: 10px; margin: 10px 0px 30px 0px; border-bottom: 1px solid; border-color: #AAAAAA;">
    <a href="#" onclick="javascript:App.openBlogPost(0)">Read more &#187;</a>
</div>
<% }); %>
</script>


