<script type="text/template" id="blogentry-tmpl">
<div style="padding-bottom: 10px;">
    <h2><%=blogEntry.blogEntry.title%></h2>

    <div style="font-size: smaller;">
	    Friedrich Nietzsche - <%=blogEntry.blogEntry.created%>
    </div>
</div>

<div style="clear:both;"><%=blogEntry.blogEntry.content%></div>
</script>


