<script type="text/template" id="comment-tmpl">

<p>
    <div style="clear:both;"><%=comment.content%></div>

    <div>
        <div style="font-size: smaller;">
            -- <%=comment.author.firstname%> <%=comment.author.surname%>, <%=comment.created%>
        </div>
    </div>
</p>

</script>