<script type="text/template" id="comment-tmpl">

<p>
    <div style="clear:both;"><%=data.content%></div>

    <div>
        <div style="font-size: smaller;">
            -- <%=data.author.firstname%> <%=data.author.surname%>, <%=data.created%>
        </div>
    </div>
</p>

</script>