
<div id="blogPostContainer">
    <h2>{{ blogPost.title }}</h2>
    <h5>
        {{ blogPost.author.firstname }} {{ blogPost.author.surname }} - {{ blogPost.created | date:'dd.MM.yyyy h:mm' }}
    </h5>
    <p>{{ blogPost.content }}</p>
</div>

<div id="commentsList">
    <h3>Comments</h3>

    <div class="comment" ng-repeat="comment in comments">
        <p>{{ comment.content }}</p>
        <p>
            -- {{ comment.author.firstname }} {{ comment.author.surname }}, {{ comment.created | date:'dd.MM.yyyy h:mm' }}
        </p>
    </div>
</div>

<div id="addCommentContainer" ng-include="addCommentForm" ng-show="userService.isLoggedIn()"></div>
