
<div>
    <form novalidate class="simple-form">
        <legend>Login</legend>

        <div class="alert alert-error" ng-show="error" ng-bind="error"></div>

        <div class="clearfix">
            <p class="floatLeft">
                <label class="control-label" for="inputUsername">Username</label>
                <input type="text" id="inputUsername" placeholder="Username" ng-model="user.username">
            </p>

            <p class="floatRight">
                <label class="control-label" for="inputPassword">Password</label>
                <input type="password" id="inputPassword" placeholder="Password" ng-model="user.password">
            </p>
        </div>

        <p>
            <button type="submit" class="btn" ng-click="loginSubmit(user)">Login</button>
            <a href="#/register" class="btn">Register</a>
        </p>
    </form>
</div>
