
<div class="span1"></div>
<div class="span10" ng-switch="userService.isLoggedIn()">

    <!-- user is logged-in -->
    <ul class="nav nav-pills" ng-switch-when="false">
        <li>
            <a ng-href="#/login">Login</a>
        </li>
    </ul>

    <!-- user is not logged-in -->
    <ul class="nav nav-pills" ng-switch-when="true">
        <li>
            <a ng-href="#/post/add">Add Post</a>
        </li>
        <li>
            <a ng-href="" ng-click="broadcastBtnEvent('user:logout')">Logout</a>
        </li>
    </ul>

</div>
<div class="span1"></div>
