
<div>
    <h3>Find out more</h3>
</div>

<div>
    <p>More about the author of this demo.</p>
    <ul>
        <li>
            <a href="http://blog.akquinet.de"
               target="_blank">akquinet blog</a>
        </li>
        <li>
            <a href="https://github.com/akquinet/mobile-blog"
               target="_blank">The source of this demo on Github</a>
        </li>
    </ul>

    <p>Learn more about JBoss Enterprise Application Platform 6.</p>

    <ul>
        <li>
            <a href="http://red.ht/jbeap-6-docs"
               target="_blank">Documentation</a>
        </li>
        <li>
            <a href="http://red.ht/jbeap-6"
               target="_blank">Product Information</a>
        </li>
    </ul>

    <p>Learn more about JBoss AS 7.</p>
    <ul>
        <li>
            <a href="https://docs.jboss.org/author/display/AS7/Getting+Started+Developing+Applications+Guide"
               target="_blank">Getting Started Developing Applications Guide</a>
        </li>
        <li>
            <a href="http://jboss.org/jbossas"
               target="_blank">Community Project Information</a>
        </li>
    </ul>

    <p>Learn about <strong>AeroGear</strong> and HTML5/Mobile development on JBoss.</p>
    <ul>
        <li>
            <a href="http://jboss.org/aerogear"
               target="_blank">AeroGear Project site</a>
        </li>
        <li>
            <a href="https://community.jboss.org/wiki/WhatArePlainOldHTML5POH5Applications"
               target="_blank">More on <strong>POH5</strong></a>
        </li>
        <li>
            <a href="https://community.jboss.org/community/aerogear"
               target="_blank">AeroGear user forums</a>
        </li>
        <li>
            <a href="https://github.com/organizations/aerogear"
               target="_blank">Github</a>
        </li>
    </ul>
</div>
