body {
    background-color: #AAA;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #363636;
}

h2 {
   font-size: 1.8em;
}

aside {
    font-size: 0.9em;
    width: 245px;
    float: right;
    margin-top: 20px;
}

aside ul {
    padding-left: 20px;
}

.logo {
    float: left;
}

.dualbrand {
    float: right;
    padding-right: 10px;
    margin-bottom: 10px;
}

.article {
    font-size: 1.2em;
    font-family: Verdana;
}

a {
    color: #4a5d75;
}

#page {
    background-color: #FFF;
    width: 800px;
    padding: 20px;
    margin: 0 auto;
}

section {
    margin-top:20px;
    float: left;
    width: 450px;
    clear: both;
}


footer {
    clear: both;
    text-align:center;
    font-size: 0.8em;
    color: #999;
}
