body {
    background-color: #AAA;
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #363636;
}

h2 {
   font-size: 1.8em;
}

aside {
    font-size: 0.9em;
    width: 245px;
    float: right;
    margin-top: 20px;
}

aside ul {
    padding-left: 20px;
}

.logo {
    float: left;
}

.dualbrand {
    float: right;
    padding-right: 10px;
    margin-bottom: 10px;
}

.article {
    font-size: 1.2em;
    font-family: Verdana;
}

a {
    color: #4a5d75;
}

#page {
    background-color: #FFF;
    width: 800px;
    padding: 20px;
    margin: 0 auto;
}

#main {
    margin-bottom: 20px;
    float: left;
    width: 450px;
    clear: both;
}


footer {
    margin-top: 100px;
    clear: both;
    text-align:center;
    font-size: 0.8em;
    color: #999;
}

/* Form elements */
form {
    margin: 0;
    padding: 0;
}
form p {
    margin: 5px 0;
}

.formInput {
    padding: 6px 5px;
    border: 1px solid #c2c2c2;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.formBtn {
    cursor: pointer;
    padding: 6px 0;
    font-size: 12px;
    border: 1px solid #c2c2c2;
    background: #f4f4f4;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #363636;
}

.formInput.formSidebar {
    width: 235px;
}

.formInput.formContent {
    width: 435px;
}

.formBtn.formSidebar {
    width: 245px;
}

.formBtn.formContent {
    width: 445px;
}

.validationError {
    font-size: 12px;
    color: red;
    margin-bottom: 10px;
}



#blogEntryContainer {
    margin-bottom: 60px;
}

#addPostBtn {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}
#addPostContainer {
    margin-top: 20px;
}
