.logo {
    vertical-align: middle;
    margin-top: 8px;
    height: 25px;
}

.validationError {
    margin: 10px;
    font-size: 0.8em;
    color: red;
    float: right;
}

/*
body {
    background: white;
}
*/

/*
jonavbar {
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CCCCCC), color-stop(100%,#cccccc)); */
/*
  background: white;
  background-image: none;
}

jobackbutton {
   border-bottom-color: rgba(0, 0, 0, 0.3);
}

jocard, jobutton, jogroup {
    background: white;

}
*/